
@{
    ViewBag.Title = "IndexClient";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}








<div class="card">

    <div class="card-header">
        <h3 class="card-title">Welcome</h3>
    </div>

        <div class="card-body">
            <div class="container">


                <center> <img src="~/Fichier/test.png" width="800" height="500">  </center>


            </div>
        </div>
    
    <!-- /.card-body -->
    <div class="card-footer clearfix">

    </div>
</div>
